
table, th, td {
    border:1px solid black;
  }

  th {
    text-align: left;
  }

input[type=submit] {
    font-size:15px; background-color: chartreuse; border-color: black;
}

input[type=submit]:hover {
    background-color:#4CAF50; color:white
}