<!DOCTYPE html>
<html>
    <head>
        <title>Exchange for token</title>
    </head>
    <body>
        <h3>Access Token: </h3>
        <p>{{ access_token }}</p>
        <h3>ID Token: </h3>
        <p>{{ id_token }}</p>
    </body>

    <form action="/userinfo">
        <input type="submit" value="Get user info" />
    </form>

    <form action="/externalendpoint">
        <input type="submit" value="Hit a secured endpoint using the access token" />
    </form>

    <form action="/logout">
        <input type="submit" value="Logout" />
    </form>

</html>