<!DOCTYPE html>
<html>
    <head>
        <title>oAuth Demo</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>oAuth Demo</h1>
        <h3>Clientid: {{ clientid }}<h3>
        <h3>Scope: {{ scope }}<h3>    
    </body>
    
    {% if existingToken == True %}
        <form action="/displayTokens" >
            <p>There is an existing session containing tokens (i.e. you are already logged in). </p>
            <input type="submit" value="View existing tokens"/>
        </form>

        <form action="/login" >
            <input type="submit" value="Re-login instead"/>
        </form>
        <form action="/logout">
            <input type="submit" value="Hard logout (of idp)" />
        </form>
    {% else  %}
        <form action="/login" >
            <input type="submit" value="Login"/>
        </form>
    {% endif %}
    


    

</html>