<!DOCTYPE html>
<html>
    <head>
        <title>CIP Test App for web based products</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>OIDC Test App</h1>
        <h3>Base URL: {{ idpdomain }}<h3></h3>
        <h3>Client id: {{ clientid }}<h3></h3>
        <h3>Scope: {{ scope }}<h3>
        <h3>State: {{ state }}<h3></h3>
    </body>
    
    {% if existingToken == True %}
        <hr>
        <form action="/displayTokens" >
            <p>The session already contains an identity token (i.e. you are already logged in). </p>
            <input type="submit" value="View"/>
        </form>
        <hr>
        <form action="/login" >
            <input type="submit" value="Re-login instead"/>
        </form>
        <form action="/logout">
            <input type="submit" value="Hard logout (of idp)" />
        </form>
    {% else  %}
        <form action="/login" >
            <input type="submit" value="Login"/>
        </form>
    {% endif %}
    
    <hr>
    <p>Login will redirect to: {{ loginRedirectUrl }}</p>


</html>