<!DOCTYPE html>
<html>
    <head>
        <title>User Info</title>
    </head>
    <!-- <body>
        <h3>Sub: {{ sub }}</h3>
        <h3>Email: {{ email }}</h3>
        <h3>Nickname: {{ nickname }}</h3>
        <img src="{{ picture }}" alt="picture">
    </body> -->

    <!-- <body> 
        <h3>{{ payload }}</h3>
    </body> -->

    <div class="results">
        <pre>{{ payload }}</pre>
    </div>

    <form action="/">
        <input type="submit" value="Start again" />
    </form>

</html>